<div {{bind-attr class="watched :video :clearfix"}}>

  <a href="#" class="play-video" {{action 'playVideo' this}}>
    <img {{bind-attr src="thumb"}} width="150" />
    <i class="icon-youtube-play"></i>
  </a>

  <div class="video-info">

    <h4>{{title}}</h4>

    <p class="duration">
      <i class="icon-time"></i>
      {{duration duration}}
    </p>

    <a href="#" class="toggle-watched" {{action 'toggleWatched' this}}>
      <i {{bind-attr class="watched:icon-eye-close:icon-eye-open"}}></i>
      {{#if watched}}
        Mark Unwatched
      {{else}}
        Mark Watched
      {{/if}}
    </a>
    <p class="pub-date">{{date published}}</p>


  </div>

</div>
