<div class="youtube-player">
  <div id="youtube-iframe"></div>
</div>

<div class="youtube-player-bar">
  <ul>
    <li>
      <a href="#" class="youtube-toggle-info control" {{action 'toggleInfo'}}>
        <i class="icon-info-sign"></i>
      </a>
    </li>
  </ul>
  <h3>{{video.title}}</h3>

  <a href="#" class="close-youtube-player control" {{action 'close'}}>
    <i class="icon-remove"></i>
  </a>

  <div {{bind-attr class="showingInfo :youtube-player-info"}}>
    <p>{{youtube-description video.description}}</p>
  </div>
</div>
