<div class="main clearfix">

  <div class="sidebar">

    <div class="subs-region">

      <div class="subs-header clearfix">
        <h3 class="pull-left">Subscriptions</h3>

        {{#if model}}
          <a href="#" {{bindAttr class="editing:active :edit-subs :btn :btn-default :btn-xs :pull-right"}} {{action 'toggleEditing'}}>
          {{#if editing}}
            Done
          {{else}}
            <i class="icon-edit"></i>
            <span>Edit</span>
          {{/if}}
          </a>
        {{/if}}
      </div>

      <div {{bindAttr class=":subs editing"}}>
        {{#each model}}
          {{partial 'sub'}}
        {{else}}
          <p>No subscriptions...</p>
        {{/each}}
      </div>

    </div>

    <div class="sub-search-region clearfix">

      <div class="sub-search-header clearfix">
        <a href="#" {{bindAttr class="searching:active :btn :btn-default :btn-xs :pull-right"}} {{action 'toggleSearching'}}>
          {{#if searching}}
            Done
          {{else}}
            <i class="icon-plus"></i>
            New Subscription
          {{/if}}
        </a>
      </div>

      {{#if searching}}
        <form class="sub-search-form form-inline clearfix" {{action 'searchSubs' on="submit"}}>
          {{view App.TextField valueBinding="subQuery" class="form-control"}}
          <button class="btn btn-primary">
            <i class="icon-search"></i>
          </button>
        </form>

        {{#each subSearchResults}}
          {{partial 'channel'}}
        {{/each}}
      {{/if}}
    </div>

  </div>

  <div class="content">

    {{outlet}}

  </div>

</div>
