<div class="main clearfix">

  <div class="sidebar">

    <div class="subs-region">

      <div class="subs-header clearfix">
        <h2>Subscriptions</h2>

        {{#if model}}
          <a href="#" {{bind-attr class="editing:active :edit-subs :btn"}} {{action 'toggleEditing'}}>
            {{#if editing}}
              Done
            {{else}}
              <i class="icon-edit"></i> Edit
            {{/if}}
          </a>
        {{/if}}
      </div>

      <div {{bind-attr class=":subs editing"}}>
        {{#each model}}
          {{partial 'sub'}}
        {{else}}
          <p class="no-subs">No subscriptions...</p>
        {{/each}}
      </div>

    </div>

    <div class="sub-search-region clearfix">

      <div class="sub-search-header clearfix">
        <a href="#" {{bind-attr class="searching:active :search-subs :btn"}} {{action 'toggleSearching'}}>
          {{#if searching}}
            Done
          {{else}}
            <i class="icon-plus"></i> Add
          {{/if}}
        </a>
      </div>

      {{#if searching}}
        <form class="sub-search-form clearfix" {{action 'searchSubs' on="submit"}}>
          {{view App.TextField valueBinding="subQuery" class="form-control"}}
          <button>
            <i class="icon-search"></i>
          </button>
        </form>

        <div class="sub-search-results">
          {{#each subSearchResults}}
            {{partial 'channel'}}
          {{/each}}
        </div>
      {{/if}}
    </div>

  </div>

  <div class="content">

    {{outlet}}

  </div>

</div>
